<p>
    <% if comment.name.empty? %>
     <em>Anonymous</em> -  
   <% else %>
   <em><%= comment.name %></em> -
    <% end %>
    <%= comment.content %> |
    <%= comment.created_at.strftime('%c')%>
</p>